<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourbook.shop.mapper.memberMapper.FindInfoMapper">

    <select id="searchMember" resultType="com.ourbook.shop.dto.member.CommonMember">
        select * from seller_tb where SELLER_ID= #{id}
        UNION
        select * from buyer_tb where BUYER_ID= #{id}
        UNION
        select * from admin_tb where ADMIN_ID= #{id};
    </select >

    <select id="searchId">
        select SELLER_ID from seller_tb where SELLER_ID= #{id}
                                 UNION
                                 select BUYER_ID from buyer_tb where BUYER_ID= #{id}
                                 UNION
                                 select ADMIN_ID from admin_tb where ADMIN_ID= #{id};
    </select >

    <select id="searchEmail">
        select SELLER_EMAIL from seller_tb where SELLER_EMAIL= #{email}
                                    UNION
                                    select BUYER_EMAIL from buyer_tb where BUYER_EMAIL= #{email}
                                    UNION
                                    select ADMIN_EMAIL from admin_tb where ADMIN_EMAIL= #{email};
    </select >

    <select id="searchEmailToId">
        select SELLER_EMAIL from seller_tb where SELLER_ID=  #{id}
                                    UNION
                                    select BUYER_EMAIL from buyer_tb where BUYER_ID=  #{id}
                                    UNION
                                    select ADMIN_EMAIL from admin_tb where ADMIN_ID=  #{id};
    </select >

    <select id="searchMemberToEmail" resultType="com.ourbook.shop.dto.member.NaverMember">
        select * from buyer_tb where BUYER_EMAIL= #{email};
    </select>
    <!-- OAuth2 로그인 전용 쿼리 (resultType 참고)
    OAuth2 로그인은 무조건 구매자 권한이기 때문에 판매자 테이블 검색 불 필요-->


</mapper>