<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourbook.shop.mapper.memberMapper.MemberMapper">
    <insert id="commonInsert">
        <choose>
            <when test="commonRole == 'BUYER'">
                insert into buyer_tb(BUYER_NAME,BUYER_ID,BUYER_PWD,BUYER_EMAIL,BUYER_ROLE)
                values(#{commonName},#{commonId},#{commonPwd},#{commonEmail},#{commonRole});
            </when>
            <otherwise>
                insert into seller_tb(SELLER_NAME,SELLER_ID,SELLER_PWD,SELLER_EMAIL,SELLER_ROLE)
                values(#{commonName},#{commonId},#{commonPwd},#{commonEmail},#{commonRole});
            </otherwise>
        </choose>
    </insert>

    <insert id="naverInsert">
        insert into buyer_tb(BUYER_NAME,BUYER_ID,BUYER_PWD,BUYER_EMAIL,BUYER_ROLE)
        values(#{buyerName},#{buyerId},#{buyerPwd},#{buyerEmail},#{buyerRole});
    </insert>



    <update id="commonUpdate" parameterType="com.ourbook.shop.dto.member.CommonMember">
        <choose>
            <when test="commonRole == 'BUYER'">
                update buyer_tb
                set BUYER_NAME = #{commonName} , BUYER_PWD = #{commonPwd} , BUYER_EMAIL = #{commonEmail} , BUYER_ROLE = #{commonRole}
                where BUYER_ID = #{commonId};
            </when>
            <otherwise>
                update seller_tb
                set SELLER_NAME = #{commonName} , SELLER_PWD = #{commonPwd} , SELLER_EMAIL = #{commonEmail} , SELLER_ROLE = #{commonRole}
                where SELLER_ID = #{commonId};
            </otherwise>
        </choose>
    </update>



<!--DELETE 에서의 role 은 userDetail 에서 가져온거라서, "[권한]" 형식으로 받음.userDetail-->
    <delete id="commonDelete" parameterType="String">
        <choose>
            <when test="role == 'BUYER'">
                DELETE FROM buyer_tb WHERE BUYER_ID = #{deleteValue}
            </when>
            <otherwise>
                DELETE FROM seller_tb WHERE SELLER_ID = #{deleteValue}
            </otherwise>
        </choose>
    </delete>
    <delete id="naverDelete" parameterType="String">
        DELETE FROM buyer_tb WHERE BUYER_EMAIL = #{email}
    </delete>
</mapper>