<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourbook.shop.mapper.FindInfoMapper">

    <select id="searchMember" resultType="com.ourbook.shop.dto.Seller">
        select * from seller_tb where id= #{id};
    </select >

    <select id="searchId">
        select id from seller_tb where id= #{id};
    </select >

    <select id="searchEmail">
        select email from seller_tb where email= #{email};
    </select >

    <select id="searchMemberToEmail" resultType="com.ourbook.shop.dto.Buyer">
        select * from buyer_tb where email= #{email};
    </select >



</mapper>