<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourbook.shop.mapper.FindInfoMapper">

    <select id="searchMember" resultType="com.ourbook.shop.dto.CommonMember">
        select * from seller_tb where id= #{id}
                                UNION
                                select * from buyer_tb where id= #{id};
    </select >

    <select id="searchId">
        select id from seller_tb where id= #{id}
                                 UNION
                                 select id from buyer_tb where id= #{id};
    </select >

    <select id="searchEmail">
        select email from seller_tb where email= #{email}
                                    UNION
                                    select email from buyer_tb where email= #{email}
    </select >

    <select id="searchMemberToEmail" resultType="com.ourbook.shop.dto.NaverMember">
        select * from buyer_tb where email= #{email};
    </select >
    <!-- OAuth2 로그인 전용 쿼리 (resultType 참고)
    OAuth2 로그인은 무조건 구매자 권한이기 때문에 판매자 테이블 검색 불 필요-->


</mapper>