<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourbook.shop.mapper.inquiryMapper.InquiryMapper">

    <insert id="inquirySave">
        insert into inquiry_history(INQUIRY_TYPE,INQUIRY_WRITER,INQUIRY_EMAIL,INQUIRY_NAME,INQUIRY_CONTENT,SAVE_TIME)
        values(#{inquiryType},#{inquiryWriter},#{inquiryEmail},#{inquiryName},#{inquiryContent},NOW());
    </insert>

    <update id="inquiryEdit" parameterType="com.ourbook.shop.dto.inquiry.InquiryInfo">
        update inquiry_history
        set INQUIRY_TYPE = #{inquiryType} , INQUIRY_WRITER = #{inquiryWriter} , INQUIRY_EMAIL = #{inquiryEmail},INQUIRY_NAME = #{inquiryName}, INQUIRY_CONTENT = #{inquiryContent} , SAVE_TIME = NOW()
        where SEQUENCE = #{sequence};
    </update>

    <delete id="inquiryDelete"  parameterType="int">
        DELETE FROM inquiry_history WHERE SEQUENCE = #{sequence};
    </delete>


    <select id="findInquiryList" resultType="com.ourbook.shop.dto.inquiry.InquiryInfo">
        SELECT * FROM inquiry_history ORDER BY SEQUENCE DESC ;
    </select >


    <select id="findInquiryContent" resultType="com.ourbook.shop.dto.inquiry.InquiryInfo">
        SELECT * FROM inquiry_history WHERE SEQUENCE = #{number}
    </select >


    <insert id="inquiryAnswerSave">
        insert into inquiry_answer_history(INQUIRY_WRITER,INQUIRY_NUMBER,ADMIN_NAME,ADMIN_CONTENT,SAVE_TIME)
        values(#{inquiryWriter},#{inquiryNumber},#{adminName},#{adminContent},NOW());
    </insert>


    <update id="inquiryAnswerUpdate" parameterType="com.ourbook.shop.dto.inquiry.InquiryAnswerInfo">
        update inquiry_answer_history
        set INQUIRY_WRITER = #{inquiryWriter} , ADMIN_NAME = #{adminName} , ADMIN_CONTENT = #{adminContent} , SAVE_TIME = NOW()
        where INQUIRY_NUMBER = #{inquiryNumber};
    </update>

    <delete id="inquiryAnswerDelete" parameterType="int">
        DELETE FROM inquiry_answer_history WHERE INQUIRY_NUMBER = #{inquiryNumber};
    </delete>


    <select id="findInquiryAnswer" resultType="com.ourbook.shop.dto.inquiry.InquiryAnswerInfo">
        SELECT * FROM inquiry_answer_history WHERE INQUIRY_NUMBER = #{inquiryNumber};
    </select >

    <select id="findInquiryHistory" resultType="com.ourbook.shop.dto.inquiry.InquiryInfo">
        SELECT * FROM inquiry_history WHERE INQUIRY_WRITER = #{inquiryWriter} ORDER BY SEQUENCE DESC ;
    </select >

</mapper>
