<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>Our book : 도서 문의</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=8q0uk125lk"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
  <script type="text/javascript" src="/js/accessCheck/inquiryCheck.js"></script>
  <script type="text/javascript" src="/js/libraryLocation/locationDropDown.js"></script>
</head>
<body style="overflow-x: hidden">
<header class="site-header sticky-top py-1" style="background-color: #f8f9fa;">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook}" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block"  th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/myInfo}" style="color: black; text-decoration: none;">내 정보</a>
    <a class="py-2 d-none d-md-inline-block payment-cart-login-check" th:href="@{/OurBook/book/info/cart}" style="color: black; text-decoration: none;">장바구니</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/book}" style="color: black; text-decoration: none;">책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/market}" style="color: black; text-decoration: none;">도서 시장</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: black; text-decoration: none;">책에 관하여</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/inquiry}" style="color: black; text-decoration: none;">문의</a>
  </nav>
</header>

<div id="map" style="width:100%;height:400px;"></div>
<script type="text/javascript" src="/js/libraryLocation/naverMap.js"></script>

<form th:action="@{/OurBook/test}" th:method="GET">
<select id="FirstDistrict" onchange="updateLocation()" name="firstDistrict">
  <option value="서울특별시">서울특별시</option>
  <option value="부산광역시">부산광역시</option>
  <option value="대구광역시">대구광역시</option>
  <option value="인천광역시">인천광역시</option>
  <option value="광주광역시">광주광역시</option>
  <option value="대전광역시">대전광역시</option>
  <option value="울산광역시">울산광역시</option>
  <option value="세종특별자치시">세종특별자치시</option>
  <option value="경기도">경기도</option>
  <option value="강원도">강원도</option>
  <option value="충청북도">충청북도</option>
  <option value="충청남도">충청남도</option>
  <option value="전라북도">전라북도</option>
  <option value="전라남도">전라남도</option>
  <option value="경상북도">경상북도</option>
  <option value="경상남도">경상남도</option>
  <option value="제주특별자치도">제주특별자치도</option>
</select>

<!-- 두 번째 드롭다운 -->
<select id="SecondDistrict" name="secondDistrict">
  <option value="종로구">종로구</option>
  <option value="중구">중구</option>
  <option value="용산구">용산구</option>
  <option value="성동구">성동구</option>
  <option value="광진구">광진구</option>
  <option value="동대문구">동대문구</option>
  <option value="중랑구">중랑구</option>
  <option value="성북구">성북구</option>
  <option value="강북구">강북구</option>
  <option value="도봉구">도봉구</option>
  <option value="노원구">노원구</option>
  <option value="은평구">은평구</option>
  <option value="서대문구">서대문구</option>
  <option value="마포구">마포구</option>
  <option value="양천구">양천구</option>
  <option value="강서구">강서구</option>
  <option value="구로구">구로구</option>
  <option value="금천구">금천구</option>
  <option value="영등포구">영등포구</option>
  <option value="동작구">동작구</option>
  <option value="관악구">관악구</option>
  <option value="서초구">서초구</option>
  <option value="강남구">강남구</option>
  <option value="송파구">송파구</option>
  <option value="강동구">강동구</option>
</select>
<button type="submit">지역 전송</button>
</form>


<footer class="container py-5" >
  <hr style="width: 1800px; margin-left: -250px;" >
  <div class="row">
    <div class="col-12 col-md" style=" margin-left: -250px;">
      <a class="py-2 d-none d-md-inline-block" href="#" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">Developer: 문태진</small>
      <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
      <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
      <small ><a style="text-decoration: underline; color: black" href="https://github.com/DPODW/OurBook">GitHub Link</a></small>
    </div>
  </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
