<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Our book : 우리의 책!</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
</head>
<body>

<header class="site-header sticky-top py-1" style="background-color: #f8f9fa;">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook}" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/book}" style="color: black; text-decoration: none;">책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/market}" style="color: black; text-decoration: none;">도서 시장</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: black; text-decoration: none;">책에 관하여</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/inquiry}" style="color: black; text-decoration: none;">문의</a>
  </nav>
</header>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light custom-bg"  style="width: 80%;">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">내 곁에 한 권의 책</h1>
      <p class="lead fw-normal">2023년 동안 단 한 권의 책 만을 읽을 수 있다면, 당신은 무슨 책을 고르 실 건가요?</p>
      <a class="btn btn-outline-secondary" th:href="@{/OurBook/book}">책 둘러보기</a>
    </div>
  </div>

  <div class="card" style="float: right; width: 19%; margin-top: -493px;">
    <div class="card-body">
      <h5 class="card-title"><strong>OurBook!</strong> 에 오신걸 환영합니다!</h5>
      <p class="card-text">여러분과 함께 걷는 도서의 숲. OurBook</p>
      <hr>
      <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/OurBook/1}" class="btn btn-primary" style="width: 100px;">로그인</a>
        <a th:href="@{/OurBook/2}" class="btn btn-success" style="margin-left: 100px; width: 100px;">회원 가입</a>
      </div>

      <div th:if="${#authorization.expression('isAuthenticated()')}">
      <div style="display: flex; align-items: center;">
        <p th:unless="${session.NAVER}"  th:text="*{commonName + ' 님'}"></p>
        <p th:if="${session.NAVER}"  th:text="*{naverMemberName + ' 님'}"></p>
        <span style="border: none; color: gainsboro;  margin-right: 10px; margin-left: 10px; margin-bottom: 15px;">|</span>
        <p th:unless="${session.NAVER}"  th:text="*{commonEmail}"></p>
        <p  th:if="${session.NAVER}" th:text="*{naverMemberEmail}"></p>
      </div>

      <div style="display: flex; align-items: center;">
        <form th:action="@{/OurBook/3}" method="post">
          <button style="color: gray; border: none; margin-right: 4px; background-color: white;">로그아웃</button>
        </form>
        <span style="color: gainsboro;">|</span>
        <a th:href="@{/OurBook/myInfo}" style="color: gray; text-decoration: none; margin-left: 5px; margin-right: 5px;">내 정보</a>
        <span style="color: gainsboro;">|</span>
        <a  th:href="@{/OurBook/book/info/cart}" style="color: gray; text-decoration: none;  margin-left: 5px; margin-right: 5px;">장바구니</a>
        <span style="color: gainsboro;">|</span>
        <a th:href="@{/OurBook/book/info/payment/history}" style="color: gray; text-decoration: none;  margin-left: 5px; margin-right: 5px;">구매 내역</a>
       </div>
      </div>
    </div>
  </div>

  <img src="/img/home/OurBookLogo.png" alt="OurBookLogo" style="float: right; width: 370px; height: auto; margin-top: -300px;">

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 justify-content-center">
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5" style="font-size: 30px; white-space: nowrap; overflow: hidden; font-weight:bold;">무라카미 하루키</h2>
        <p class="lead">"너가 날 기억한다면, 다른 모든 사람이 날 잊어도 상관없어. <br>-해변의 카프카-"
          <img src="/img/home/haruki.png" alt="haruki">
          <a class="btn btn-outline-secondary" th:href="@{/OurBook/book/info/{bookId}(bookId=${'A3'})}">해변의 카프카</a>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5" style="font-size: 23px; white-space: nowrap; overflow: hidden; font-weight:bold; ">이상</h2>
        <p class="lead">"박제가 되어버린 천재를 아시오? <br> -날개-"</p>
        <img src="/img/home/이상.png" alt="이상">
        <a class="btn btn-outline-secondary" th:href="@{/OurBook/book/info/{bookId}(bookId=${'A2'})}">날개</a>
      </div>
      
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5" style="font-size: 23px;  overflow: hidden; font-weight:bold; ">조지 오웰</h2>
        <p class="lead">"빅 브라더가 우리를 지켜보고 있어 <br>-1984-"</p>
        <img src="/img/home/조지 오웰.png" alt="조지 오웰">
        <a class="btn btn-outline-secondary" th:href="@{/OurBook/book/info/{bookId}(bookId=${'A4'})}">1984</a>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5" style="font-size: 30px; white-space: nowrap; overflow: hidden; font-weight:bold;">밀란 쿤데라</h2>
        <p class="lead">"한 번은 중요치 않다. 한 번 뿐인 것은 전혀 없었던 것과 같다. <br> -참을수 없는 존재의 가벼움-"</p>
          </p>
          <img src="/img/home/쿤데라.png" alt="쿤데라">
           <a class="btn btn-outline-secondary" th:href="@{/OurBook/book/info/{bookId}(bookId=${'A5'})}">참을수 없는 존재의 가벼움</a>
      </div>
    </div>
  </div>
</div>
</main>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <a class="py-2 d-none d-md-inline-block" href="#" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">&copy; Our Book : 2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Cool stuff</a></li>
        <li><a class="link-secondary" href="#">Random feature</a></li>
        <li><a class="link-secondary" href="#">Team feature</a></li>
        <li><a class="link-secondary" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary" href="#">Another one</a></li>
        <li><a class="link-secondary" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Resource name</a></li>
        <li><a class="link-secondary" href="#">Resource</a></li>
        <li><a class="link-secondary" href="#">Another resource</a></li>
        <li><a class="link-secondary" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Business</a></li>
        <li><a class="link-secondary" href="#">Education</a></li>
        <li><a class="link-secondary" href="#">Government</a></li>
        <li><a class="link-secondary" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Locations</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
