<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Our book : 로그인</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/smailView.css">
</head>


<body class="text-center">
  <main class="form-signin">
    <form th:action="@{/OurBook/1}" method="post" th:object="${commonMember}">
      <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook}" style="color: #007bff; font-size: 20px; text-decoration: none;"><strong>Our Book!</strong></a>
      <h1 class="h3 mb-3 fw-normal">로그인</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="ID" name="commonId" maxlength="20" placeholder="아이디">

      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="PWD" name="commonPwd" maxlength="20" placeholder="비밀번호">
      </div>

      <div th:if="${#fields.hasGlobalErrors()}">
        <h3 style="border-color: red; color: red; font-size: 14px;" th:text="#{loginFail}"></h3>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
      <a href="/oauth2/authorization/naver">
        <img style="margin-top: 20px;" src="/img/member/NAVERLogin.png">
      </a>
      <p class="mt-5 mb-3 text-muted">&copy; Our Book : 2023</p>
    </form>
  </main>
</body>

</html>