<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Our book : 마이페이지</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/myPage.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/accessCheck/RoleCheck.js"></script>

</head>

<body>
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook}" style="color: #007bff; font-size: 20px; text-decoration: none;"><strong>Our Book!</strong></a>
        <h4 class="mb-3">마이 페이지</h4>

        <form th:action="@{/OurBook/joinInfo}">
          <button class="btn btn-primary mb-3">가입 정보 확인</button>
        </form>

        <form th:action="@{/OurBook/myInfo/Member}">
        <button id="EditMember" class="btn btn-primary mb-3">회원 수정</button>
        </form>

        <form th:action="@{/OurBook/myInfo/Member1}">
        <button class="btn btn-danger mb-3">회원 탈퇴</button>
        </form>

        <p class="mt-5 mb-3 text-muted" style="text-align: center;">&copy; Our Book : 2023</p>
      </div>
    </div>
  </div>
</body>
</html>
