<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Our book : 환불 완료</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
</head>

<body>

<header class="site-header sticky-top py-1 headerColor">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/joinList}" >내 정보</a>
    <a class="py-2 d-none d-md-inline-block payment-cart-login-check LOGOtext"  th:href="@{/OurBook/book/info/cart}" >장바구니</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/book}" >책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/market}" >도서 시장</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/findNearestLibrary}" >도서관 검색</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/inquiry}" >문의</a>
  </nav>
</header>
<div class="sellWarnDiv">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert text-center custom-alert">
          <img src="/img/payment/refundSuccess.png" alt="전송 사진" class="img-fluid mb-3 refundSuccessImg">
          <h4 class="alert-heading">환불 접수 완료!</h4>
          <hr>
          <p class="refundInfo">환불 접수가 완료되었습니다! 환불된 제품은 구매내역에서 사라집니다.</p>
          <p class="refundInfo1">환불이 이루어지지 않았거나, 상세한 설명이 필요하시면, <a th:href="@{/OurBook/inquiry}" class="alert-link refundWarnColor">고객 지원팀에 문의</a> 해주세요.</p>
          <hr>
          <form th:action="@{/OurBook}" th:method="GET">
          <button type="submit" class="btn btn-success refundMainRedirect">메인으로</button>
          </form>
        </div>
      </div>
    </div>
</div>


<footer class="container py-5" >
  <hr class="footerHr">
  <div class="row">
   <div class="col-12 col-md footerCol2">
      <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">Developer: 문태진</small>
      <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
      <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
      <small ><a class="FooterGitHubLink" href="https://github.com/DPODW/OurBook" target='_blank'>GitHub Link</a></small>
    </div>
  </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
