<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Our book : 구매 내역</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

<header class="site-header sticky-top py-1 headerColor">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block LOGOtext"  th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/joinList}" >내 정보</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/book}" >책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/market}" >도서 시장</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/findNearestLibrary}" >도서관 검색</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/inquiry}" >문의</a>
  </nav>
</header>
<h1 class="paymentHistoryText"><img img src="/img/payment/paymentHistory.png" class="paymentHistoryImg">구매 내역</h1>

<div class="card mb-3 paymentHistoryCard" th:unless="${paymentHistorys.isEmpty()}" th:each="paymentHistory, i : ${paymentHistorys}">
  <div class="card-body paymentHistoryCardBody">
    <div th:each="bookImage : ${bookImages[i.index]}">
      <img th:src="${bookImage}" class="card-img-top paymentHistoryImg2">
    </div>

    <div class="paymentHistoryTable">
      <h5 class="lead paymentHistoryTableColor">구매 도서:  <span th:text="${paymentHistory.bookName}" class="paymentHistoryTableColor2"></span></h5>
      <p class="lead paymentHistoryTableP">주문 번호:  <span th:text="${paymentHistory.orderNumber}" class="paymentHistoryTableSpan"></span></p>
      <p class="lead paymentHistoryTableP">구매 일시:  <span th:text="${paymentHistory.paymentTime}" class="paymentHistoryTableSpan"></span></p>
      <p class="lead paymentHistoryTableP">구매자 성함:  <span th:text="${paymentHistory.buyerName}" class="paymentHistoryTableSpan"></span></p>
      <p class="lead paymentHistoryTableP">구매 수량:  <span th:text="${paymentHistory.paymentBookCount}" class="paymentHistoryTableSpan"></span></p>

      <hr>

      <a class="lead paymentHistoryDetailText" th:href="@{/OurBook/book/info/payment/result/{orderNumber}(orderNumber=${paymentHistory.orderNumber})}">
        상세 구매내역 확인하기
      </a>
      <div class="paymentHistoryFinalPrice">
        <label class="paymentHistoryFinalPriceText">최종 구매 가격:</label>
        <span th:text="${paymentHistory.paymentPrice} + '원'" class="paymentHistoryFinalPriceSpan"></span>
      </div>
    </div>
    <div class="button-container paymentHistoryBtnLayout">

      <form th:action="@{/OurBook/book/info/payment/{bookId}(bookId=${paymentHistory.bookId})}" th:method="GET">
        <input type="hidden" name="bookCount" th:value="*{paymentHistory.paymentBookCount}">
        <button class="btn btn-success purchase-button reBuyBtn">재 구매</button>
      </form>

      <form th:action="@{/payment/refund}" th:method="POST">
        <input type="hidden" name="orderNumber" th:value="*{paymentHistory.orderNumber}">
        <button class="btn btn-danger delete-button refundBtn">환불 요청</button>
      </form>
    </div>
  </div>
</div>

<div th:if="${paymentHistorys.isEmpty()}" class="paymentHistoryEmptyLayout">
  <img src="/img/payment/emptyPaymentHistory.png" class="paymentHistoryEmptyImg">
  <h3 class="paymentHistoryEmptyText">구매 내역이 존재하지 않습니다.</h3>
</div>

<footer class="container py-5 paymentHistoryFooter">
  <hr class="footerHr">
  <div class="row">
   <div class="col-12 col-md footerCol2">
      <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">Developer: 문태진</small>
      <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
      <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
      <small ><a class="FooterGitHubLink" href="https://github.com/DPODW/OurBook" target='_blank'>GitHub Link</a></small>
    </div>
  </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
