<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Our book : 주문</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script src="https://js.tosspayments.com/v1/payment"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
  <script type="text/javascript" src="/js/bookQuantity/BookTotalCheck.js"></script>
  <script type="text/javascript" src="/js/payment/IamPortPayment.js"></script>
  <script type="text/javascript" src="/js/payment/PaymentHandler.js"></script>
  <script type="text/javascript" src="/js/payment/PaymentAddress.js"></script>
  <script type="text/javascript" src="/js/payment/TossPayment.js"></script>

</head>

<body>

<header class="site-header sticky-top py-1" style="background-color: #f8f9fa;">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook}" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block"  th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/joinList}" style="color: black; text-decoration: none;">내 정보</a>
    <a class="py-2 d-none d-md-inline-block payment-cart-login-check" th:href="@{/OurBook/book/info/cart}" style="color: black; text-decoration: none;">장바구니</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/book}" style="color: black; text-decoration: none;">책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/market}" style="color: black; text-decoration: none;">도서 시장</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/findNearestLibrary}" style="color: black; text-decoration: none;">도서관 검색</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/inquiry}" style="color: black; text-decoration: none;">문의</a>
  </nav>
</header>

<div class="container mt-5">
  <h4 class="lead" style="text-align: center; color: #007bff; font-size: 24px; font-weight: bold;">
    주문 상세 정보
  </h4>
  <div class="row">
    <div class="col-md-6">
      <img th:src="${paymentInfo.bookImgUrl}">
    </div>
    <div class="col-md-6">
      <h4 style="margin-top: 20px;">도서 정보</h4>
      <p>도서 이름: <span id="bookNameSpan" th:text="${paymentInfo.bookName}"></span></p>
      <input id="bookId" type="hidden" th:value="${paymentInfo.bookId}">
      <p>가격: <span id="unitPrice" th:text="${paymentInfo.bookPrice}"></span>원</p>
      <p>수량: <input type="number" id="quantity" th:value="${bookCount}" min="1" max="50" class="form-control" oninput="restrictInput(this)"></p>
      <p>결제 가격: <span id="totalPriceSpan" style="color: #007bff"></span></p>
      <hr>
      <h4>배송 정보</h4>
      <p>주문자 이름 :  <span id="buyerName" th:text="${name}"></span></p>
      <input id="buyerEmail" type="hidden" th:value="${email}">
      <p>수령자 이름 <input id="receiverName" type="text" size="30" class="form-control" required></p>
      <p>수령자 전화번호 (- 기호 없이 입력해주세요)<input id="receiverPhoneNumber" pattern="\d*" type="text" maxlength="11" class="form-control" required></p>
      <hr>

      <p style="margin-bottom: 4px; font-weight: bold;">주소 작성</p>
      <input class="form-control" type="text" id="receiverPostCode" style="width: 150px; display: inline;"  placeholder="우편번호" readonly>
      <input type="button" onclick="addressAndPostCode()" style="border-color: lightgray; border-width: 1px; background-color: white; " value="우편번호 찾기"><br>

      <input  class="form-control" type="text" id="receiverAddress" style="margin-top: 20px;" placeholder="주소" readonly><br>
      <input type="text" id="detailAddress" class="form-control" style="margin-bottom: 20px;" placeholder="상세주소" required>


      <button class="btn btn-success purchase-button" onclick="PayKGincis()" style="background-color: blue; border: none;">구매하기</button>
      <button type="button" onclick="PayToss()" style="background-color: white; border-color: #007bff; border-radius: 10%;"><img src="/img/payment/toss.png" width="63px"></button>

    </div>
  </div>
</div>

<footer class="container py-5" >
  <hr style="width: 1800px; margin-left: -250px;" >
  <div class="row">
   <div class="col-12 col-md" style=" margin-left: -250px;">
      <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook}" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">Developer: 문태진</small>
      <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
      <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
      <small ><a style="text-decoration: underline; color: black" href="https://github.com/DPODW/OurBook" target='_blank'>GitHub Link</a></small>
    </div>
  </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
