<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Our book : 문의</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
</head>

<body style="overflow-x: hidden">

<header class="site-header sticky-top py-1 headerColor">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
        <a class="py-2 d-none d-md-inline-block LOGOtext"  th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/joinList}" >내 정보</a>
        <a class="py-2 d-none d-md-inline-block payment-cart-login-check LOGOtext" th:href="@{/OurBook/book/info/cart}" >장바구니</a>
        <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/book}" >책 둘러보기</a>
        <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/market}" >도서 시장</a>
        <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/findNearestLibrary}" >도서관 검색</a>
        <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/inquiry}" >문의</a>
    </nav>
</header>

<div class="container inquiryContainer">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto" >

            <h4 class="mb-3 inquiryH">문의 - 수정</h4>
            <form th:action="@{/OurBook/inquiry/edit}" th:method="PUT">
                <input type="hidden" name="sequence" th:value="*{inquiryInfo.sequence}">
                <input type="hidden" name="inquiryEmail" th:value="*{inquiryInfo.inquiryEmail}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="inquiryH">문의 종류</label> <br>
                        <select name="inquiryType" class="inquiryTypeSelect">
                            <option>배송 문의</option>
                            <option>결제 문의</option>
                            <option>제품 문의</option>
                            <option>도서시장 문의</option>
                            <option selected>기타 문의</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="inquiryId">문의자 ID (네이버 회원은 이메일 주소)</label>
                        <input type="text" maxlength="12" name="inquiryWriter" th:value="*{inquiryInfo.inquiryWriter}"  class="form-control inquiryIdInput" readonly>
                    </div>

                    <div class="col-md-6 mb-3 inquiryAdminDiv">
                        <label >문의 제목</label>
                        <input type="text" maxlength="25" name="inquiryName" th:field="*{inquiryInfo.inquiryName}" class="form-control inquiryTitleSize">
                        <h4 th:errorclass="field-error" th:errors="*{inquiryInfo.inquiryName}"></h4>
                    </div>

                    <p class="inquiryWarNP">폭언 , 욕설 등 부적절한 내용의 문의는 사전통보<br> 없이 삭제될수 있음을 알려드립니다.</p>

                </div>
                <hr class="inquiryHr2">
                <div class="mb-3 inquiryMb3">
                    <label class="inquiryLabelText">문의 내용 <a class="marketSellTextA">(300자 제한)</a></label>
                    <textarea class="form-control inquiryTextArea1" name="inquiryContent" th:field="*{inquiryInfo.inquiryContent}" maxlength="300"></textarea>
                    <h4 th:errorclass="field-error" th:errors="*{inquiryInfo.inquiryContent}"></h4>
                    <img src="/img/inquiry/customer.png" class="inquiryImg1">
                </div>
                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block inquiryEditBtn" type="submit">문의 글 수정</button>
                <p class="mt-5 mb-3 text-muted memberInfoFooterMt">&copy; Our Book : 2023</p>
            </form>
        </div>
    </div>
</div>

<footer class="container py-5" >
    <hr class="footerHr">
    <div class="row">
       <div class="col-12 col-md footerCol2">
            <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
            <small class="d-block mb-3 text-muted">Developer: 문태진</small>
            <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
            <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
            <small ><a class="FooterGitHubLink" href="https://github.com/DPODW/OurBook" target='_blank'>GitHub Link</a></small>
        </div>
    </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
