<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourbook.shop.mapper.marketMapper.MarketMapper">

    <insert id="saleBookInsert">
        insert into market_books(UPLOADER_EMAIL,UPLOADER_NAME,SALE_BOOK_NAME,SALE_BOOK_WRITER,SALE_BOOK_STORY,SALE_ETC,SALE_IMG,SALE_BOOK_PAGE,SALE_BOOK_COUNT,SALE_BOOK_PRICE,SAVE_TIME)
        values(#{uploaderEmail},#{uploaderName},#{saleBookName},#{saleBookWriter},#{saleBookStory},#{saleEtc},#{saleImg},#{saleBookPage},#{saleBookCount},#{saleBookPrice},NOW());
    </insert>

    <insert id="purchaseRequestInsert">
        insert into purchase_request_history(UPLOADER_EMAIL,UPLOADER_NAME,RECEIVER_EMAIL,RECEIVER_NAME,SALE_BOOK_NAME,SAVE_TIME,SEQUENCE)
        values(#{uploaderEmail},#{uploaderName},#{receiverEmail},#{receiverName},#{saleBookName},NOW(),#{sequence});
    </insert>


    <select id="findMarketList" resultType="com.ourbook.shop.dto.market.SaleBookInfo">
        SELECT * FROM market_books ORDER BY SEQUENCE DESC ;
    </select >

    <select id="findMarketBook" resultType="com.ourbook.shop.dto.market.SaleBookInfo">
        SELECT * FROM market_books WHERE SEQUENCE = #{number}
    </select >

    <select id="findPurchaseRequestHistory" resultType="com.ourbook.shop.dto.market.PurchaseRequest">
        SELECT * FROM purchase_request_history WHERE RECEIVER_EMAIL = #{receiverEmail} ORDER BY SEQUENCE DESC;
    </select>


    <select id="findPurchaseRequestCount" resultType="int">
        SELECT COUNT(*) FROM purchase_request_history WHERE SALE_BOOK_NAME = #{saleBookName};
    </select>

</mapper>
