<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Our book : 도서 판매</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
</head>

<body>

<header class="site-header sticky-top py-1" style="background-color: #f8f9fa;">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook}" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block"  th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/myInfo}" style="color: black; text-decoration: none;">내 정보</a>
    <a class="py-2 d-none d-md-inline-block payment-cart-login-check" th:href="@{/OurBook/book/info/cart}" style="color: black; text-decoration: none;">장바구니</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/book}" style="color: black; text-decoration: none;">책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/market}" style="color: black; text-decoration: none;">도서 시장</a>
    <a class="py-2 d-none d-md-inline-block" href="#" style="color: black; text-decoration: none;">책에 관하여</a>
    <a class="py-2 d-none d-md-inline-block" th:href="@{/OurBook/inquiry}" style="color: black; text-decoration: none;">문의</a>
  </nav>
</header>

<div class="container" style="margin-top: 40px">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto" >

      <h4 class="mb-3">도서 판매 - 수정</h4>
      <form th:action="@{/OurBook/market/sale}" th:method="PUT"  enctype="multipart/form-data">
        <input type="hidden" name="uploaderEmail" th:value="*{saleBookInfo.uploaderEmail}">
        <input type="hidden" name="sequence" th:value="*{saleBookInfo.sequence}">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>도서 제목</label>
            <input type="text" maxlength="50" name="saleBookName" th:field="*{saleBookInfo.saleBookName}" class="form-control" style="width: 540px;" >
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookName}"></h4>
          </div>

          <div class="col-md-6 mb-3">
            <label>이름 <a style="font-size: small; font-weight: normal; color: gray;"></a></label>
            <input type="text" maxlength="12" name="uploaderName" th:value="*{saleBookInfo.uploaderName}" class="form-control" style="width: 540px;" readonly>
          </div>

          <div class="col-md-6 mb-3">
            <label>저자 <a style="font-size: small; font-weight: normal; color: gray;">(판매할 도서의 저자, 다수 가능)</a></label>
            <input type="text" maxlength="25" name="saleBookWriter" th:field="*{saleBookInfo.saleBookWriter}" class="form-control" style="width: 540px;">
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookWriter}"></h4>
          </div>

        </div>
        <hr style="width: 1200px">
        <div class="mb-3" style="margin-top: 30px;">
          <label style="font-weight: bold;">줄거리 <a style="font-size: small; font-weight: normal; color: gray;">(대략적 , 1000자 제한)</a></label>
          <textarea  class="form-control" name="saleBookStory" th:field="*{saleBookInfo.saleBookStory}" maxlength="1000" style="width: 1200px; height: 200px;"></textarea>
          <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookStory}"></h4>
        </div>

        <div class="mb-3" >
          <label style="font-weight: bold;">기타 <a style="font-size: small; font-weight: normal; color: gray;">(하시고 싶은 말씀을 편하게 적으시면 됩니다. 1000자 제한)</a></label>
          <textarea  class="form-control"name="saleEtc" th:field="*{saleBookInfo.saleEtc}"  maxlength="1000" style="width: 1200px; height: 200px;"></textarea>
          <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleEtc}"></h4>
        </div>

        <label style="font-weight: bold;">도서 표지 업로드</label><br>
        <input type="file" id="File" name="uploadImg" accept="image/gif,image/jpeg,image/png,img/jpg" required/>
        <hr style="margin-top: 30px; margin-bottom: 30px; width: 1200px">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label >페이지 분량<a style="font-size: small; font-weight: normal; color: gray;"> (숫자로 입력 부탁드립니다.)</a></label>
            <input type="text" name="saleBookPage" th:field="*{saleBookInfo.saleBookPage}" pattern="\d*" maxlength="5" class="form-control" style="width: 300px;"  >
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookPage}"></h4>
          </div>
          <div class="mb-3">
            <label >책 권수<a style="font-size: small; font-weight: normal; color: gray;"> (숫자로 입력 부탁드립니다.)</a></label>
            <input type="text" name="saleBookCount" th:field="*{saleBookInfo.saleBookCount}" pattern="\d*" maxlength="2" class="form-control" style="width: 300px;" >
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookCount}"></h4>
          </div>
          <div class="mb-3">
            <label >희망 가격</label>
            <input type="number" name="saleBookPrice" th:field="*{saleBookInfo.saleBookPrice}" class="form-control" style="width: 300px;">
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookPrice}"></h4>
          </div>
        </div>
        <div class="mb-4"></div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">판매 글 올리기</button>
        <p class="mt-5 mb-3 text-muted" style="text-align: center;">&copy; Our Book : 2023</p>
      </form>
    </div>
  </div>
</div>

<footer class="container py-5" >
  <hr style="width: 1800px; margin-left: -250px;" >
  <div class="row">
   <div class="col-12 col-md" style=" margin-left: -250px;">
      <a class="py-2 d-none d-md-inline-block" href="#" style="color: black; text-decoration: none;"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">Developer: 문태진</small>
      <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
      <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
      <small ><a style="text-decoration: underline; color: black" href="https://github.com/DPODW/OurBook">GitHub Link</a></small>
    </div>
  </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
