<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Our book : 도서 시장</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/accessCheck/PurchaseRequestLoginCheck.js"></script>
  <script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
</head>
<body>

<header class="site-header sticky-top py-1 headerColor">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block LOGOtext"  th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/joinList}" >내 정보</a>
    <a class="py-2 d-none d-md-inline-block payment-cart-login-check LOGOtext" th:href="@{/OurBook/book/info/cart}" >장바구니</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/book}" >책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/market}" >도서 시장</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/findNearestLibrary}" >도서관 검색</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/inquiry}" >문의</a>
  </nav>
</header>

<div class="container LibraryCol">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto" >

      <h4 class="mb-3">개인 도서</h4>
      <form ID="deleteMarketBook" th:action="@{/OurBook/market/sale}" th:method="DELETE">
        <input type="hidden" name="sequence" th:value="${saleBookInfo.sequence}">
        <button id="MarketAuthorizedCheck" type="submit" class="sellBookDelete">삭제</button>
      </form>

      <form ID="PurchaseRequest" th:method="POST" th:action="@{/OurBook/market/purchase/request/warning}" th:object="${saleBookInfo}">
        <input type="hidden" id="UploaderName" name="uploaderName" th:value="${saleBookInfo.uploaderName}">
        <input type="hidden"  name="saleBookName" th:value="${saleBookInfo.saleBookName}">
        <input type="hidden" id="UploaderEmail" name="uploaderEmail" th:value="${saleBookInfo.uploaderEmail}">
        <input type="hidden"id="Sequence" name="sequence" th:value="${saleBookInfo.sequence}">

        <h4 class="sellBookInfoFont1" th:text="${saleBookInfo.saleBookName}"></h4>
        <p th:text="${saleBookInfo.saleBookWriter} + '(지은이)'"></p>
        <p class="sellBookInfoFont2" th:text="'등록 일자: '+${saleBookInfo.saveTime}"></p>
        <hr class="sellBookInfoHr">
        <a id="MarketMeCheck" class="sellBookEditHref" th:href="@{/OurBook/market/sale/edit/{marketNumber}(marketNumber=${saleBookInfo.sequence})}">수정</a>


        <img class="sellBookInfoImage" th:src="${saleBookInfo.saleImg}">

        <p class="sellBookPrice">판매가:</p>
        <p class="sellBookPriceText" th:text="${saleBookInfo.saleBookPrice}"></p>

        <p class="sellBookPricePost">배송비:</p>
        <p class="sellBookPricePostText">판매자와 협의 요망</p>


        <p class="sellerText">판매자:</p>
        <p class="sellerTextLayout" th:text="${saleBookInfo.uploaderName}"></p>


        <p class="sellRequest">살래요!:</p>
        <p class="sellRequestCount" th:text="${saleBookInfo.purchaseRequestCount}"></p>

        <div class="sellRequestDiv">
          <button class="btn btn-primary btn-lg btn-block" id="PurchaseRequestLoginCheck" type="submit">구매 요청하기</button>
        </div>
      </form>

      <form th:action="@{/OurBook/inquiry}" th:method="GET">
        <button type="submit" class="btn btn-primary btn-lg btn-block sellPolice" >
          <img src="/img/market/siren.png" class="sellPoliceImg">
          신고하기
        </button>
      </form>


      <p class="sellBookImgInfo">해당 도서표지는 개인 판매자가 등록한 표지입니다. OurBook 은 해당 도서를 소유하고 있지 않으므로,<br> 도서의 실제 상태에 대해 알지 못합니다. 구매를 원할 시,
        구매 요청을 통하여 판매자와 필요한 정보를<br> 교환하시고, 사기에 각별히 유념하시길 바랍니다.
      </p>
      <hr class="sellBookInfoHr1">
      <div class="mb-3 sellBookInfoMB">
        <label class="sellFontWeight">줄거리</label>
        <textarea class="form-control sellBookStory" name="saleBookStory" th:text="${saleBookInfo.saleBookStory}" readonly></textarea>
      </div>

      <div class="mb-3" >
        <label class="sellBookETC">기타</label>
        <textarea  class="form-control sellBookETCTextArea" name="saleEtc" th:text="${saleBookInfo.saleEtc}" readonly></textarea>
      </div>

      <p class="mt-5 mb-3 text-muted bannerPosition">&copy; Our Book : 2023</p>
    </div>
  </div>
</div>

<footer class="container py-5" >
  <hr class="footerHr">
  <div class="row">
   <div class="col-12 col-md footerCol2">
      <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">Developer: 문태진</small>
      <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
      <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
      <small ><a class="FooterGitHubLink" href="https://github.com/DPODW/OurBook" target='_blank'>GitHub Link</a></small>
    </div>
  </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
