<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Our book : 도서 판매</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/accessCheck/CartAndPaymentCheck.js"></script>
</head>

<body>

<header class="site-header sticky-top py-1 headerColor">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
    <a class="py-2 d-none d-md-inline-block LOGOtext"  th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/OurBook/joinList}" >내 정보</a>
    <a class="py-2 d-none d-md-inline-block payment-cart-login-check LOGOtext" th:href="@{/OurBook/book/info/cart}" >장바구니</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/book}" >책 둘러보기</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/market}" >도서 시장</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/findNearestLibrary}" >도서관 검색</a>
    <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook/inquiry}" >문의</a>
  </nav>
</header>

<div class="container LibraryCol">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto" >

      <h4 class="mb-3">도서 판매</h4>
      <form th:action="@{/OurBook/market/sale}" th:method="POST"  enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>도서 제목</label>
            <input type="text" maxlength="50" name="saleBookName" th:field="*{saleBookInfo.saleBookName}" class="form-control sellBookInputWidth" >
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookName}"></h4>
          </div>

          <div class="col-md-6 mb-3">
            <label>이름 <a class="marketSellTextA"></a></label>
            <input type="text" maxlength="12" name="uploaderName" th:value="*{uploaderName}" class="form-control sellBookInputWidth" readonly>
          </div>

          <div class="col-md-6 mb-3">
            <label>저자 <a class="marketSellTextA">(판매할 도서의 저자, 다수 가능)</a></label>
            <input type="text" maxlength="25" name="saleBookWriter" th:field="*{saleBookInfo.saleBookWriter}" class="form-control sellBookInputWidth">
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookWriter}"></h4>
          </div>

        </div>
        <hr class="sellBookEditHr">
        <div class="mb-3 sellBookStoryLayout">
          <label class="sellFontWeight">줄거리 <a class="marketSellTextA">(대략적 , 1000자 제한)</a></label>
          <textarea  class="form-control sellBookTextArea" name="saleBookStory" th:field="*{saleBookInfo.saleBookStory}" maxlength="1000"></textarea>
          <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookStory}"></h4>
        </div>

        <div class="mb-3" >
          <label class="sellFontWeight">기타 <a class="marketSellTextA">(하시고 싶은 말씀을 편하게 적으시면 됩니다. 1000자 제한)</a></label>
          <textarea  class="form-control sellBookTextArea" name="saleEtc" th:field="*{saleBookInfo.saleEtc}"  maxlength="1000"></textarea>
          <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleEtc}"></h4>
        </div>

        <label class="sellFontWeight">도서 표지 업로드</label><br>
        <input type="file" id="File" name="uploadImg" accept="image/gif,image/jpeg,image/png,img/jpg" required/>
        <hr class="sellBookImageHr">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label >페이지 분량<a class="marketSellTextA"> (숫자로 입력 부탁드립니다.)</a></label>
            <input type="text" name="saleBookPage" th:field="*{saleBookInfo.saleBookPage}" pattern="\d*" maxlength="5" class="form-control sellBookInfo">
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookPage}"></h4>
          </div>
          <div class="mb-3">
            <label >책 권수<a class="marketSellTextA"> (숫자로 입력 부탁드립니다.)</a></label>
            <input type="text" name="saleBookCount" th:field="*{saleBookInfo.saleBookCount}" pattern="\d*" maxlength="2" class="form-control sellBookInfo" >
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookCount}"></h4>
          </div>
          <div class="mb-3">
            <label >희망 가격</label>
            <input type="number" name="saleBookPrice" th:field="*{saleBookInfo.saleBookPrice}" class="form-control sellBookInfo">
            <h4 th:errorclass="field-error" th:errors="*{saleBookInfo.saleBookPrice}"></h4>
          </div>
        </div>
        <div class="mb-4"></div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">판매 글 올리기</button>
        <p class="mt-5 mb-3 text-muted memberInfoFooterMt">&copy; Our Book : 2023</p>
      </form>
    </div>
  </div>
</div>

<footer class="container py-5" >
  <hr class="footerHr">
  <div class="row">
   <div class="col-12 col-md footerCol2">
      <a class="py-2 d-none d-md-inline-block LOGOtext" th:href="@{/OurBook}"><strong>Our Book!</strong></a>
      <small class="d-block mb-3 text-muted">Developer: 문태진</small>
      <small class="d-block mb-3 text-muted">Contact Email: ourbook.servicecenter@gmail.com</small>
      <small class="d-block mb-3 text-muted">Copyright 2023. 문태진. All Rights Reserved.</small>
      <small ><a class="FooterGitHubLink" href="https://github.com/DPODW/OurBook" target='_blank'>GitHub Link</a></small>
    </div>
  </div>
</footer>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
